body {
  background-color: #ede7d9;
  padding-bottom: 25px;
  padding-left: 5px;
  padding-right: 5px;
}

h1 {
  color: #93032e;
  font-family:"Courier New", Arial, Helvetica;
  padding: 7px;
}
h2 {
  color: #93032e;
  font-family:"Courier New", Arial, Helvetica;
  padding: 7px;
}
h3 {
  color: #93032e;
  font-family:"Courier New", Arial, Helvetica ;
  padding: 7px;
} 
h4 {
  color: #93032e;
  font-family:"Courier New", Arial, Helvetica ;
  padding: 7px;
}

p {
  color: #EA7F1B;
  font-family:Garamond, Arial, Helvetica;
  font-size: 16px;
  padding: 7px;
  line-height: 1.3;
}

a:link {
  color: #EA7F1B;
  text-decoration: none;
  font-family: 'Gruppo', sans-serif; 
  font-size: 20px;
  padding-right: 7px;
  padding-left: 7px;    
}
a:visited {
  color: #EA7F1B;
  text-decoration: none;
  font-family: 'Gruppo', sans-serif;
  padding-right: 7px;
  padding-left: 7px;   
}
a:hover {
  color: #93032e;
  font-family: 'Gruppo', sans-serif;
  padding-right: 7px;
  padding-left: 7px;
}

table, th, td {
  color: #EA7F1B;
  width: 80%;
  font-family:Garamond, Arial, Helvetica;
  border:1px solid #e36414;
  padding: 7px;
}

.navigation {
  background-color: #EA7F1B;
  padding: 12px;
}

.button-52 {
  font-size: 16px;
  font-weight: 200;
  color: #93032e;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid #93032e;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-52:after {
  content: "";
  background-color:#EA7F1B;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}
.button-52:hover:after {
  top: 0px;
  left: 0px;
}
@media (min-width: 768px) {
  .button-52 {
  padding: 13px 50px 13px;
  }
}

img, h1 {
  display: inline-block;
}

@media only screen and (max-width:420px) {
  h1{ font-size: 24px;  
  }
  h2 { font-size: 20px;
  }
  h3 {font-size: 16px;
  }
  h4 {font-size: 16px;
  }
  }

@media only screen and (min-width:421px){
  h1 { font-size: 28px; 
  } 
  h2 {font-size: 24px;
  }
  h3 {font-size: 20px;
  }
  h4 {font-size: 16px;
  }
  * {
    box-sizing: border-box;
  }
  .rivi {
    display: flex;
  }
  .sarake {
    flex: 50%;
    padding: 10px;
  }
  }
