body {
    background-color: seashell;
  }
  h1 {
    color: chocolate;
    font-family:"Courier New", Arial, Helvetica ;
    font-size: 30px ;
    padding: 5px;
  }
  h2 {
    color: chocolate;
    font-family:"Courier New", Arial, Helvetica ;
    font-size: 23px ;
    padding: 5px;
  }
  h3 {
    color: chocolate;
    font-family:"Courier New", Arial, Helvetica ;
    font-size: 18px;
    padding: 5px;

  } 
  p {
    color: chocolate;
    font-family:"Courier New", Arial, Helvetica ;
    font-size: 16px ;
    padding: 5px;
    line-height: 1.2;
  }
  a:link {
    color: chocolate;
    text-decoration: none;
    font-family:"Courier New", Arial, Helvetica ; 
    padding-right: 10px ;
  }
  a:visited {
    color: chocolate;
    text-decoration: none;
    font-family:"Courier New", Arial, Helvetica ;
  }
a:hover {
  color: red;
  font-family:"Courier New", Arial, Helvetica ;
}

table, th, td {
  color: chocolate;
  width: 80%;
  font-family:"Courier New", Arial, Helvetica ;
  border:1px solid chocolate;
}